 div img {
    width:  100px;
    height: 100px;
}

td img {
    width: 25px;
    height: 25px;
}
.form, h1 {
    text-align: center;
}

.team{
    width:150px;
    padding:20px;
    display: inline-block;
}


.StripeElement {
    background-color: whitesmoke;
    height: 40px; 
}

img {
    width: 300px; 
    height: 300px;
}

#bet-link{
    position:absolute;
    bottom:300px;
    left:700px;
}

#vs {
    position:relative;
    text-align: center;
    top:75px;
}

.team1 {
    position:absolute;
    left:400px;
    top:175px;
}
.team2 {
    position:absolute;
    right:400px;
    top:175px;
}