<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/stylesheets/style.css" rel="stylesheet">
    <title>NBA Betting Site</title>
</head>
<body>
    <h1>NBA BETTING SITE</h1>
    <ul>   
        <li><a href="/home">Home </a></li>
        <li><a href="/games">Games </a></li>
        <li><a href="/teams">Teams </a></li>
        <li><a href="link">Bet </a></li>
        <li><a href="link">Log in </a></li>
    </ul>
{% block content %}


{% endblock %}
</body>
</html>