{% extends 'index.html' %}
{% block title %} Login {% endblock %}
{% block content %}

<h1 class="h3 mb-3 fw-normal">Login</h1>
<div class = "form">
<form action = "/login" method = "POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}

            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </p>
    {% endfor %}
    
    <button class=" btn btn-lg btn-warning" type="submit">Log in</button>
</form>
</div>

{% endblock %}