{% extends 'index.html' %}

{% block content %}

<h1>Box Score</h1>

<h2>Player Statistics</h2>
<table class="table table-dark">
    <tr>
        <th>Team Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Points</th>
        <th>Rebounds</th>
        <th>Assists</th>
        <th>Steals</th>
        <th>Blocks</th>
    </tr>
{% for player_stat in players_stats %}
    <tr>
        <td><img src= "{{player_stat.team_logo}}">{{player_stat.team_name}}</td>
        <td>{{player_stat.players.first_name}}</td>
        <td>{{player_stat.players.last_name}}</td>
        <td>{{player_stat.points}}</td>
        <td>{{player_stat.rebounds}}</td>
        <td>{{player_stat.assists}}</td>
        <td>{{player_stat.steals}}</td>
        <td>{{player_stat.blocks}}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}